<div class="price-data-chart"></div>

<p class="index__annotation">
  bitcoin price data provided by
  <a href="https://www.coindesk.com/api/" target="_blank">coindesk</a>
</p>

<script type="text/javascript">
  const el = document.querySelector('.price-data-chart');
  const data = <%= data.to_json.html_safe %>;

  new LineGraph(el, data.slice(0)).createGraph();
</script>
